/* CSS Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: absolute;
    z-index: 100;
    width: 100%;
}

header div nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
}

header div nav ul {
    display: flex;
    gap: 2rem;
    font-size: 0.8rem;
    color: #fff;
}

.hero-section {
    background-image: url('./CSS Advanced/Object.png');
    height: 100vh;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-section img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.hero-section h1 {
    color: white;
    font-size: 8.5rem;
    font-weight: bold;
    margin-top: 4rem;
}

.hero-section-title {
    text-align: center;
}

.primary-button {
    padding: 0.7rem;
    background-color: #C271FF;
    border-radius: 50px;
    margin-top: 1rem;
    border: none;
    color: #fff;
    font-weight: 560;
}

.hero-section-title div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    gap: 2rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}


.hero-section .pros-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}


.hero-section .pros-showcase h2 {
    margin-bottom: 4rem;
    font-weight: lighter;
    font-size: 2rem;
    color: #fff;
}

.hero-section .pros-showcase h2 span {
    color: #C271FF;
}

.hero-section .pros-showcase .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.hero-section .pros-showcase .card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.hero-section .pros-showcase div div {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 0.3rem;
}

.hero-section .pros-showcase div div p {
    font-style: italic;
    font-size: 0.8rem;
}

.hero-section .pros-showcase div div h2 {
    font-weight: bolder;
    font-family: 1rem;
}


.quote {
    background-color: #C271FF;
    color: #fff;
    font-size: 1.2rem;
}

.quote .container {
    display: flex;
    padding: 6rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.quote blockquote {
    font-weight: lighter;
}

.quote h3 {
    margin-top: 1.5rem;
}

.tutorials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorials h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2rem;
}

.tutorials h2 span {
    color: #C271FF;
}

.tutorials-card {
    display: flex;
    gap: 1.5rem;

}

.tutorials-card .card-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tutorials-card .image {
    color: #C271FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.tutorials-card .image img {
    width: 2rem;
    height: 2rem;
}

.tutorials-card .star {
    display: flex;
    color: #C271FF;
    flex-direction: row;
}

.tutorial-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.membership {
    margin-top: 6rem;
    background-color: black;
    color: #fff;
}

.membership .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 4rem;
}

.membership h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.membership h2 span {
    color: #C271FF;
}

.membership .container .members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    justify-content: center;
    padding: 1rem;
}

.membership .member img {
    width: 2rem;
    height: 2rem;
}

.membership .member p {
    font-size: 14px;
    color: gainsboro;
}

.faq {
    margin: 4rem 1rem;
}

.faq .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.faq .container h2 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.faq-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-content: center;
}

.faq-content div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 350px;
}

.faq-content div p {
    color: gainsboro;
    font-size: 12px;
    line-height: 1.5;
}

footer {
    background-color: black;
    color: #fff;
    padding-top: 3rem;
}

footer section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

footer section .foot {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.foot div {
    display: flex;
    gap: 1rem;
}